extends layout

block scripts
    link(rel='stylesheet', href='/stylesheets/spike.css')
    script(src='/javascripts/spike.js')

block content
    //h1= title

    each val in ['ecc', 'demo', 'support']
        h1='Project Key: ' + val
        svg(id=val+"-chart", env=val, class="chart")